labels-font = 'Roboto', sans-serif;
border-color = #d8d8d8;
primary-action-color = #ff4081;
secondary-background = #eee;
small-screen = 700px;
app-width = 442px;
primary-text = rgb(33, 33, 33);


highlight-color = #ff4081;
emphasis-background = white;